@charset "utf-8";

/* 分页 */
.bottom_pager {
	margin: 20px 10px;
}
.pagin .prev, .pagin .next, .pagin .prev-disabled, .pagin .next-disabled {
    background: none repeat scroll 0 0 #fff;
    border-radius: 3px;
    padding: 4px 10px 5px;
}
.pagin .prev-disabled, .pagin .next-disabled {
    color: #ccc;
    cursor: default;
}
.pagin .prev, .pagin .next, .pagin .prev-disabled, .pagin .next-disabled {
    height: 18px;
    line-height: 18px;
    padding-top: 5px;
    position: relative;
}
.pagin a, .pagin span {
    border: 1px solid #ccc;
    float: left;
    font-family: arial;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-left: 2px;
    overflow: hidden;
    padding: 3px 10px;
    color: #176fcc;
}
.pagin .current, .pagin .current:link, .pagin .current:visited {
    color: #f60;
    font-weight: 700;
}
.pagin .text, .pagin .current {
    border: 0 none;
    padding: 4px 11px;
}

.orderby dl {
	float: right;
}
.orderby dt {
	float: left;
}
.orderby dd {
	float: left;
	padding-right: 10px;
	padding-left: 15px; 
}
.orderby .active a {
	color: #176fcc;
}
.bar-title {
	border-top: 1px solid #8fa9da;
	height: 30px;
}
.bar-title a {
	float: left;
	margin-right: 4px;
	border: 1px solid #8fa9da;
	border-bottom: 0;
	padding: 0 15px;
	text-align: center;
	height: 29px;
	line-height: 29px;
	color: #3e3e3e;
}
.bar-title a.active {
	background-color: #5078c5;
	color: #fff;
}

.create-topic h3 {
	padding: 6px 10px;
	border: 1px solid #a9cddf;
	background-color: #dbf1fc;
	color: #005a9e;
	font-weight: bold;
}
.topic-box {
	padding: 15px;
	background-color: #f8fbff;
}
.topic-box .item {
	margin-bottom: 20px;
}
.label {
	float: left;
	width: 4em;
	height: 24px;
	line-height: 24px;
}
.topic-box .controls {
	float: left;
}
.topic-box label {
	float: left;
	margin-right: 10px;
	padding: 4px 0;
}
.topic-box input[type=radio] {
	float: left;
	margin-top: 2px;
	margin-right: 3px;
}
#id_title {
	float: left;
	border: 1px solid #7f9db9;
	padding: 4px 10px;
	width: 480px;
	height: 14px;
	line-height: 14px;
}
#id_content {
	width: 500px;
	height: 330px;
}
#id_verification {
	float: left;
	border: 1px solid #7f9db9;
	padding: 4px 5px;
	height: 14px;
	line-height: 14px;
	width: 90px;
	margin-right: 3px;
}
.verification-img {
	float: left;
	width: 116px;
	height: 24px;
}
.change-verification {
	float: left;
	margin-left: 3px;
	height: 24px;
	line-height: 24px;
}
#id_submit {
	width: 73px;
	height: 23px;
	border: 1px solid #ebc30f;
	border-radius: 4px;
	background: url("../img/bar_submit_btn.jpg") center center no-repeat;
	cursor: pointer;
	box-shadow: 3px 3px 0 #e3e5e9;
}
.create-topic {
	color: #3e3e3e;
	line-height: 15px;
}

.products-info {
	padding: 10px;
}
.products-info dt {
	overflow: hidden;
	text-align: center;
	margin-bottom: 10px;
	font-size: 0;
}
.products-info dd {
	margin-bottom: 10px;
	color: #666666;
	overflow: hidden;
}
.products-info dt img {
	max-width: 158px;
}
.products-info .name a {
	line-height: 15px;
	color: #3e3e3e;
}
.products-info .name a:hover {
	text-decoration: underline;
}
.products-info .price strong {
	color: #d20101;
	font-weight: bold;
}
.products-info .sorce span{
	float: left;
}
.add-cart {
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 10px;
	padding-left: 40px;
	height: 40px;
	line-height: 40px;
	width: 111px;
	color: #fff;
	font-size: 19px;
	background: #2d7fd7 url("../img/btn-append.png") 10px 6px no-repeat;
	font-weight: bold;
}
.commstar {
	float: left;
	width: 60px;
	height: 12px;
	background: url(../img/commstar_small.jpg) 0 -12px repeat-x;
	position: relative;
	margin-top: 1px;
	overflow: hidden;
	zoom: 1;
}
.commstar a {
	width: 20%;
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	height: 12px;
}
.commstar a.active {
	background: url(../img/commstar_small.jpg) left top repeat-x;
}
.commstar .star1 {
	width: 20%;
	z-index: 9;
}
.commstar .star2 {
	width: 40%;
	z-index: 8;
}
.commstar .star3 {
	width: 60%;
	z-index: 7;
}
.commstar .star4 {
	width: 80%;
	z-index: 6;
}
.commstar .star5 {
	width: 100%;
	z-index: 5;
}

.bar-detail-box {
	margin-bottom: 43px;
	border: 1px solid #eeeeee;
}
.product-r .title {
	height: 28px;
	background-color: #f7f7f7;
	border-bottom: 1px solid#eeeeee;
	color: #666666;
	line-height: 28px;
	padding: 0 8px;
}
.bar-content {
	width: 955px;
	margin: 0 auto;
	padding: 30px 0 18px 20px;
	border-bottom: 1px dotted #eee;
}
.bar-content:last-child {
	border: 0;
}

.bar-content .user {
	float: left;
	width: 50px;
	padding-top: 8px;
	margin-right: 35px;
}
.bar-content .user dt {
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
}
.bar-content .user dt img {
	width: 50px;
	height: 50px;
}
.bar-content .user dt {
	font-size: 12px;
}
.bar-content .user .name {
	margin-bottom: 5px;
	text-align: center;
	color: #176fcc;
	font-size: 12px;
}
.bar-content .user .level {
	text-align: center;
	color: #888888;
	font-size: 12px;
}

.content-group {
	position: relative;
	float: left;
	width: 830px;
	border: 1px solid #d0e4c2;
	padding: 10px 0 20px 20px;
}
.content-triangle {
	position: absolute;
	width: 13px;
	height: 24px;
	top: 30px;
	left: -13px;
	background: url("../img/bar_detail_left.jpg") center center no-repeat;
}
.content-top {
	margin-bottom: 10px;
	overflow: hidden;
}
.content-top .text {
	float: left;
	width: 790px;
}
.content-top .floor {
	float: left;
}
.content-group .picture {
	margin-bottom: 10px;
	overflow: hidden;
}
.picture .picture-big {
	float: left;
	width: 660px;
	height: 540px;
	border: 1px solid #dddddd;
	padding: 10px;
	text-align: center;
}
.picture .picture-big img {
	max-width: 100px;
	max-height: 660px;
}
.picture .picture-temp {
	float: left;
	padding: 0 7px;
	width: 134px;
}
.picture .picture-btn {
	display: block;
	height: 13px;
	cursor: pointer;
	background: url("../img/picture_temp_btn.jpg") center 0 no-repeat;
}
.picture .picture-btn.picture-bottom-btn {
	background-position: center bottom;
}
.picture .picture-list-outer {
	height: 530px;
	margin-top: 6px;
	overflow: hidden;
}
.picture-list li {
	width: 128px;
	height: 96px;
	padding: 1px;
	border: 2px solid #ddd;
	margin-bottom: 4px;
	text-align: center;
	cursor: pointer;
	font-size: 0;
}
.picture-list li.selected {
	border-color: #d0e4c2;
}
.picture-list li img {
	max-width: 128px;
	max-height: 96px;
}
.content-bottom {
	line-height: 21px;
}
.replay-btn {
	display: inline-block;
	padding: 0 14px;
	height: 19px;
	line-height: 19px;
	background-color: #f6f6f6;
	color: #333;
	border: 1px solid #ddd;
	border-radius: 2px;
	margin-right: 5px;
}
.bar-replay {
	border: 1px solid #dddddd;
}
.bar-replay-form {
	padding: 20px 75px 10px;
}
.bar-replay-form .item {
	margin-bottom: 10px;
}
.bar-replay-form .label {
	float: left;
	color: #666666;
}
.bar-replay-form .controls {
	float: left;
	width: 560px;
}
.bar-replay-form .controls textarea{
	width: 550px;
	border: 1px solid #abadb3;
	padding: 5px 4px;
	resize: vertical;
}
.bar-replay-form .controls input[type=submit] {
	height: 25px;
	line-height: 25px;
	border: 0;
	outline: 0;
	padding: 0 13px;
	background-color: #e4383b;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	border-radius: 2px;
	cursor: pointer;
}