.business-scroll.scroll {
    float: left;
    width: 700px;
    height: 210px;
    margin-left: 15px;
    padding: 10px 0;
    overflow: hidden;
    background-color: #fff;
}
.scroll-btn {
    float: left;
    width: 25px;
    height: 125px;
    cursor: pointer;
}
div.scroll-right-btn {
    background: url("../img/scroll-r.png") center no-repeat;
}

div.scroll-left-btn {
    background: url("../img/scroll-l.png") center no-repeat;
}
.scroll-outer {
    float: left;
    display: inline-block;
    width: 600px;
    height: 210px;
    margin: 0 10px;
    overflow: hidden;
}
.scroll-pictures li {
    float: left;
    display: inline-block;
}
.scroll-pictures a {
    display: block;
    width: 180px;
    height: 210px;
    text-align: center;
}
.scroll-pictures a p {
    margin-top: 10px;
    color: #333;
}
.scroll-pictures a {
    background: url(../img/exper-bg.png) no-repeat;
}


div.history .business-scroll.scroll {
    width: 280px;
    margin-left: -10px;
}
div.history .scroll-outer {
    width: 180px;
}
div.history .scroll-pictures a {
    width: 180px;
}